.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;
    padding: 10px;
    max-height:400px ;
    min-width: 100px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
}

.product:hover{
    transform: scale(1.02);
    box-shadow:0.3rem 0.3rem rgba(0,0,0,0.3) ;
}

p{
    margin: 0;
}

.product > img{
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 5px;
}

.productRating{
    display: flex;
    margin-top: 5px;
}

.product__info{
    margin-bottom: 0px;
    width: 100%;
    z-index: -1;
    
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 5px;
    border-color: #a88743 #9c7e31 #846a29;
    border-radius: 5px;
    box-shadow: 0 0.3rem rgba(165, 131, 7, 0.5);
}

.product > button:active{
    /* when the button is pressed it translates 0rem in horizontal direction and 0.3rem in vertical direction  */
    transform: translate(0, 0.3rem);
    /* when button is pressed shaddow changes accordingly */
    box-shadow: 0 0.2rem rgba(255,255,255,0.65);
}

.product > button:hover{
    filter: brightness(105%);
}



@media screen and (max-width:500px) {
    .product{
        margin: 5px;
        padding: 5px;
    }
}